<div class="row">
  <% @users.each do |user| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body text-center">
            <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
            <hr>
            <p> <strong> Role: </strong> <%= user.role %></p>
            <p> <strong> Email: </strong> <%= user.email %></p>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary btn-sm"  %>
              <%= link_to 'Delete', user_path(user), class: "btn btn-danger btn-sm", method: :delete %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
