<% if carts.present? %>
  <div class="card mb-3">
    <div class="card-body">
      <p class="h4 m-0 text-primary text-center">Total Amount: <%= @total %> </p>
    </div>
  </div>
  <% carts.each do |cart|%>
    <div class="card mb-3">
      <div class="card-body">
        <div class="media">
          <img class="d-flex align-self-center mr-3" src="https://cahsi.utep.edu/wp-content/uploads/kisspng-computer-icons-user-clip-art-user-5abf13db5624e4.1771742215224718993529.png" height="50" alt="Generic placeholder image">
          <div class="media-body my-auto">
            <h4 class="my-0 font-weight-bold"><%= cart.product.user.first_name %></h4>
            <small class="my-0 text-black-50"><%= time_ago_in_words(cart.product.created_at) %> ago</small>
          </div>
          <div class="dropleft">
            <div class="product-actions dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="dropdown-menu">
              <%= link_to 'Add to Favourites', add_favourite_path(cart.product), class: "dropdown-item", method: :post unless Favourite.where(user_id: current_user.id, product_id: cart.product.id).present? %>
              <%= link_to 'Remove from cart', cart_path(cart), class: "dropdown-item", method: :delete %>
            </div>
          </div>
        </div>
        <div class="product-description">
          <strong class="text-primary">Product Name: </strong><%= cart.product.name %>
          <br>
          <strong class="text-primary">Description: </strong><%= truncate("#{cart.product.description}", :length => 100) %>
          <br>
          <strong class="text-primary">Price: </strong><%= cart.product.price %>$
          <div class="text-center">
            <%= link_to 'View Product', product_path(cart.product) %>
          </div>
          <hr>
          <small class="my-0 text-black-50"> Created at: <%= cart.product.created_at.to_formatted_s(:long) %></small>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <p class="h1-responsive m-0 text-black-50 text-center">Cart is empty</p>
    </div>
  </div>
<% end %>