<div class="row pt-5">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    <div class="product jumbotron px-3 py-4">
    <p class="h3 my-4 text-center">Edit Product Details</p>

    <%= form_for(@product) do |f|%>

      <div class="md-form mt-0">
        <%= f.text_field :name, class: 'form-control', required: true %>
        <%= f.label :name %>
      </div>

      <div class="md-form">
        <%= f.number_field :price, class: 'form-control', min:0, required: true %>
        <%= f.label :price %>
      </div>

      <div class="md-form">
        <%= f.text_area :description, rows: 5, class: 'md-textarea form-control', required: true %>
        <%= f.label :description %>
      </div>
      
      <div class="text-center">
        <%= f.submit "Edit Product", class: 'btn btn-primary'%>
      </div>
    <% end %>
    
    <%= render "shared/model_messages", model: @product %>

  </div>
  <!-- News jumbotron -->

  </div>
</div>